d@media only screen and (min-width : 250px) {
    html{
        font-size: 4px;
    }
}
@media only screen and (min-width : 320px) {
    html{
        font-size: 5.5px;
    }
}
@media only screen and (min-width : 480px) {
    html{
        font-size: 7px;
    }
}
@media only screen and (min-width : 768px) {
    html{
        font-size: 8px;
    }
}
@media only screen and (min-width : 992px) {
    html{
        font-size: 9px;
    }
}
@media only screen and (min-width : 1200px) {
    html{
        font-size: 10px;
    }
}


.block__1, .block__2{
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.form{
    background: #02897A;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.input__group{
    font-size:1.8rem;
    font-weight: bold;
}

.mylabel{
    position: absolute;
    padding-left: 2.6rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 0;
    margin-top: 0;
}

.mylabel1{
    position: absolute;
    font-size: 1.5rem;
    color: #781312;
    padding-left: 2.8rem;
    transition: all 1s ease;
}
.mybutton__1{
    padding-top: 1.9rem;
    text-align: center;
}

.myinput{
    position: absolute;
    background-color: #FFFFFF;
    margin-left: 2.6rem;
    color:#173A56;
}
.myinput1{
    position: absolute;
    background-color: #6BA0FF;
    margin-left: 2.6rem;
    color:#FFFFFF;
    border-color: #6BA0FF;
    border-radius: 8px;
    width: 10.7rem;
}
.label__1, .label__2{
    color:#ffffff;
    font-size: 1.7rem;
    font-weight: bold;
}

.label__2:hover,.label__1:hover{
    color:#173A56;
}

.error__class{
    font-size: 5rem;
    color: #02897A;
    padding-left: 35%;
    padding-top: 10%;
}


.my-notification {
    color: #173A56;
    background-color: #02897A;
    margin:2rem;
    padding: 2rem;
    word-wrap: break-word;
}
.notification-title{
    font-size: 13px;
}
.my-notification.success {
    border-radius: 4px;
    background: #cfffc4;
    font-size: 12px;
    font-weight: 500;
}

.my-notification.warn {
    border-radius: 4px;
    background: #ffebc4;
    font-size: 12px;
    font-weight: 500;
}
.my-notification.error {
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    background: #ffc4c4;
}

.userForm{
    height: 50rem;
    width: 53.5rem;
    background-color:#4d8dff;
    border-radius:20% 50% / 15% 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

